// main: ../style.less

.user {
    display: flex;
}

/*Установим размер аватарки*/
.user__avatar {
    /*Высота и ширина*/
    width: 57px;
    height: 57px;

    /*Укажем округление углов для картинки в этом блоке*/
    img {
        border-radius: 50%;
    }
}

.user__content {
    /*Установим отступ слева*/
    padding-left: 9px;
}

/*Разметка имени*/
.user__name {
    /*Установим отступ маржи*/
    margin-bottom: 3px;
    /*Установим размер шрифта в ремах. 16/15 = 0.6*/
    font-size: 1.06rem;
    /*Установим межстрочный отступ*/
    line-height: 1.2rem;
    color: @black;
    /*Установка размера шрифта*/
    font-weight: 700;
}

/*Разметка под именем :)*/
.user__prof {
    font-size: 0.8rem;
    /*Используем палитру fade (типо как rgba) и установим прозрачность*/
    color: fade(@black, 70%);
}